.simple-asset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 12px;
}

.simple-asset div {
    flex: 1 1 0px;
    min-width: 150px;
    cursor: pointer;
    padding: 8px 0 20px 0;
    border-bottom: 1px solid #ccc;
}

input.submit-simple-asset {
    float: left;
}

.no-assets-message {
    margin-bottom: 16px;
}