.simple-asset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0;
    padding: 12px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    background: #FFFFFF;
}

.simple-asset div {
    flex: 1 1 0px;
}

.simple-asset div {
    cursor: pointer;
}

input.submit-simple-asset {
    float: left;
}

.no-assets-message {
    margin-bottom: 16px;
}