.simple-asset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.simple-asset div {
    flex: 1 1 0px;
}

.simple-asset div {
    cursor: pointer;
}

input.submit-simple-asset {
    float: left;
}

.no-assets-message {
    margin-bottom: 16px;
}