.totals-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #D3E0EA;
    text-align: center;
}

.totals-container > div {
    flex: 1 1 0px;
    border-bottom: 1px solid #312121;
    border-right: 1px solid #312121;
}

.totals-container > div:last-child {
    border-right: none;
}

.highlights-container {
    display: flex;
    justify-content: center;
}

.highlights-container > .highlights-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px 12px 12px;
}

.highlights-item p {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
}

.additional-cash-flow-needed p {
    color: #cc6600;
}

.reached-cash-flow-goal p {
    color: #008000;
}