.totals-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin: 86px 0 50px 0;
}

.totals-container > div {
    width: 25%;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 2px 10px 15px -5px;
    background: #FFBE9F;
}

.totals-container > .cash-flow-goal {
    background: #D3E0EA;
}

.totals-container > .current-cash-flow {
    background: #A9E1B2;
}

.totals-container > div:last-child {
    border-right: none;
}

.highlights-container {
    display: flex;
    justify-content: center;
}

.highlights-container > .highlights-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px 12px 12px;
}

.highlights-item p {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
}

.additional-cash-flow-needed p {
    color: #cc6600;
}

.reached-cash-flow-goal p {
    color: #008000;
}

.enter-cash-flow-goal-text,
.cash-flow-goal-empty .cash-flow-needed-text {
    display: none;
}

.cash-flow-goal-empty .enter-cash-flow-goal-text {
    display: inline;
}