.cash-flow-schedule-row {
    display: flex;
    flex-direction: row;
}

.cash-flow-schedule-row div {
    flex: 1 1 0px;
    padding: 12px;
}

body .cash-flow-schedule > div:first-child {
    background: #312121;
    color: #ffffff;
}

.cash-flow-schedule > div:nth-child(odd) {
    background: #D3E0EA;
}