.stripe-payment-form {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 10;
}

.stripe-payment-form h2 {
    margin: 24px 10px;
}

.payment-details {
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.payment-row {
    display: flex;
}

.payment-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 10px;
}

.payment-field .input {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 0 7px 0;
    border: 0;
    color: #32325d;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    will-change: opacity;
}

.payment-field .input.StripeElement--focus,
#stripe-payment-form .payment-field input:focus,
.payment-field .input:not(.StripeElement--empty) {
    opacity: 1;
    outline: none;
}

.payment-field .input.StripeElement--focus + label,
#stripe-payment-form .payment-field input:focus + label {
    color: #1a73e8;
}

.payment-field .input.StripeElement--focus + label,
#stripe-payment-form .payment-field input:focus + label,
.payment-field .input:not(.StripeElement--empty) + label {
    color: #aab7c4;
    transform: scale(0.85) translateY(-25px);
    cursor: default;
}

.payment-field label {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 8px;
    color: #cfd7df;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform-origin: 0 50%;
    cursor: text;
    pointer-events: none;
    transition-property: color, transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.payment-field .baseline {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #cfd7df;
    transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#submit-payment {
    margin-top: 24px;
    margin-left: 10px;
    padding: 12px 24px;
}

#submit-payment:disabled,
#submit-payment[disabled] {
    opacity: 0.4;
}

#signal-successful-payment {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#stripe-payment-form p {
    margin: 16px 10px
}

#card-error {
    color: #E25950;
}