.complex-asset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0;
    padding: 12px;
}

.complex-asset div {
    flex: 1 1 0px;
}

.complex-asset div {
    cursor: pointer;
}