.complex-asset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 0;
    padding: 4px 0 16px 0;
    border-bottom: 1px solid #ccc;
}

.complex-asset div {
    flex: 1 1 0px;
    padding: 0 4px;
}

.complex-asset div {
    cursor: pointer;
}