.complex-asset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 12px;
}

.complex-asset div {
    flex: 1 1 0px;
    min-width: 150px;
    padding: 8px 0 20px 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}