.page-one,
.page-two,
.page-three
{
    display: none;
}

.page-one .page-one,
.page-two .page-two,
.page-three .page-three
{
    display: block;
}

button.modal-next-button {
    float: right;
}

button.modal-back-button {
    float: left;
}