.road-map-content {
    display: none;
    margin-left: 44px;
    margin-right: 44px;
}

.road-map-checkbox.show-content .road-map-content {
    display: block;
}

.road-map-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.road-map-title h2 {
    margin-left: 12px;
}

.road-map-title input {
    width: 24px;
}

.road-map-title > div {
    display: flex;
}

.road-map-title > span {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.road-map-content ul li li {
    margin-left: 16px;
}

@media screen and (max-width: 480px) {
    .road-map-content {
        display: none;
        margin-left: 4px;
        margin-right: 4px;
    }

    .road-map-title {
        margin: 4px;
    }
}