@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');

.landing-page {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #f6f5f5;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.hero-section {
    display: flex;
    background-image: url("../img/freedom.jpg");
    padding-bottom: 64px;
}

.hero-section > div {
    flex: 1;
}

.hero-section button {
    float: none;
    padding: 16px;
    font-size: 20px;
    color: black;
    background: #feff60;
}

.feature-text {
    width: 80%;
    margin: auto;
    color: #ffffff;
    text-align: left;
}

.feature-text h1 {
    font-size: 48px;
    text-decoration: underline;
    margin: 48px 0 24px 0;
}

.feature-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
}

.landing-page-minor-sections-container {
    padding: 0 32px 32px 32px;
    margin: -96px auto 0 auto;
    max-width: 960px;
}

.landing-page-minor-sections-container > section {
    padding: 32px 16px;
    margin: 48px 0;
}

.lead-in {
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.lead-in p {
    font-size: 24px;
    margin: 0;
}

.lead-in strong {
    text-decoration: underline;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-list > div {
    flex: 0 0 33.333333%;
    text-align: center;
    margin-bottom: 24px;
}

.features-list > div > div {
    padding: 16px;
    margin: 16px;
    background-color: pink;
    display: inline-block;
    min-height: 96px;
}

