.simulator {
    padding: 16px;
    display: none;
}

.simulator-view .simulator {
    display: block;
}

h2 {
    text-align: left;
}

.simulator-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.simulator-header-container div {
    flex: 1 1 0px;
}