.simulator {
    margin-top: 50px;
    padding: 16px;
}

h2 {
    text-align: left;
}

.simulator-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.simulator-header-container div {
    flex: 1 1 0px;
}