.invisible {
    display: none;
}

.visible, .modal.visible {
    display: block;
}

.calculator-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.calculator-cash-flow-result {
    color: #276678;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.multiple-column-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-container {
    margin-right: 16px;
}

.short-term-rental-calculator,
.long-term-rental-calculator,
.generic-investment,
.loan-calculator,
.mortgage-calculator {
    padding: 12px;
    margin-bottom: 24px;
}

.short-term-rental-calculator input[type=submit],
.long-term-rental-calculator input[type=submit],
.generic-investment input[type=submit],
.loan-calculator input[type=submit],
.mortgage-calculator input[type=submit] {
    float: none;
    margin-bottom: 24px;
}