.invisible {
    display: none;
}

.visible, .modal.visible {
    display: block;
}

.calculator-input-container, .login-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.calculator-cash-flow-result {
    color: #312121;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.multiple-column-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-container {
    margin-right: 16px;
}

.short-term-rental-calculator,
.long-term-rental,
.generic-investment,
.loan-calculator,
.mortgage-calculator {
    padding: 12px;
    margin-bottom: 24px;
}

.short-term-rental-calculator input[type=submit],
.long-term-rental-calculator input[type=submit],
.generic-investment input[type=submit],
.loan-calculator input[type=submit],
.mortgage-calculator input[type=submit] {
    float: none;
    margin-bottom: 24px;
}

.spinner {
    margin-left: 8px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 14px;
    height: 14px;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}