body {
  margin: 0;
  background: #f6f5f5;
  color: #312121;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
#f6f5f5
#D3E0EA
#1687A7
#276678
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 14px;
}

button, input[type=submit] {
    background: #1a73e8;
    color: #ffffff;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
}

button:last-child, input[type=submit] {
    float: right;
}

label {
    width: 260px;
    display: inline-block;
}