.cash-flow-outlook {
    width: 97%;
    margin: 1.5%;
    border-collapse: collapse;
}

.cash-flow-outlook thead tr:last-child {
    background: #312121;
    color: #ffffff;
}

.cash-flow-outlook td, .cash-flow-outlook th {
    padding: 12px;
    text-align: left;
}

.cash-flow-outlook tr:last-child {
    color: #276678;
}

.cash-flow-outlook tr:last-child td {
    border-top: 1px solid #312121;
    font-weight: bold;
}

.cash-flow-outlook tbody tr:nth-child(even) {
    background: #D3E0EA;
}